/node_modules
/npm-debug.log
/package-lock.json
/keymap/vim.js
/test*.html
.tern-*
*~
*.swp
.idea
*.iml
/lib/codemirror.js
/addon/runmode/runmode-standalone.js 
/addon/runmode/runmode.node.js
**/.DS_Store