span.js-punctuation {color: #666;}
span.js-operator {color: #666;}
span.js-keyword {color: #90b;}
span.js-atom {color: #281;}
span.js-variabledef {color: #00f;}
span.js-localvariable {color: #049;}
span.js-comment {color: #a70;}
span.js-string {color: #a22;}
