span.cm-italic {
  font-style: italic;
}

span.cm-bold {
  font-weight: bold;
}

span.cm-sub
{
    vertical-align: sub;
    font-size: 75%;
}

span.cm-footnote-citation,
span.cm-special-char,
span.cm-sup
{
  vertical-align: super;
  font-size: 75%;
}

span.cm-table {
    font-family: monospace;
    color: #660;
}

span.cm-table-heading {
    font-family: monospace;
    background-color: #660;
    color: #fff;
}

span.cm-cite {
    font-style: italic;
}

span.cm-addition {
    text-decoration: underline;
}

span.cm-deletion {
    text-decoration: line-through;
}

span.cm-code {
    background-color: #ddd;
    font-family: monospace;
}

span.cm-html {
    background-color: #dfd;
    font-family: monospace;
}

span.cm-span {
    background-color: #eeb;
}

span.cm-attributes {
    color: #002D57;
}

span.cm-link-definition {
    background: #de7c8d;
}

span.cm-image {
    color: green;
    font-family: monospace;
}

span.cm-definition-list {
    background: #90af90;
}
