.cm-s-estudio .cm-keyword {color: #000080; font-weight: bold;}

.cm-s-estudio .cm-number {color: #8f02ff;}
.cm-s-estudio .cm-variable {color: black;}
.cm-s-estudio .cm-operator {color: #ff000d;}
.cm-s-estudio .cm-comment {color: #800019;}
.cm-s-estudio .cm-string {color: #008080;}
.cm-s-estudio .cm-tag {color: #0000ff;}