/*
  Name:       material
  Author:     Mattia Astorino (http://github.com/equinusocio)
  Website:    https://material-theme.site/
*/

.cm-s-material-ocean.CodeMirror {
  background-color: #0f111a;
  color: #8f93a2;
}

.cm-s-material-ocean .CodeMirror-gutters {
  background: #0f111a;
  color: #464b5d;
  border: none;
}

.cm-s-material-ocean .CodeMirror-guttermarker,
.cm-s-material-ocean .CodeMirror-guttermarker-subtle,
.cm-s-material-ocean .CodeMirror-linenumber {
  color: #464b5d;
}

.cm-s-material-ocean .CodeMirror-cursor {
  border-left: 1px solid #ffcc00;
}

.cm-s-material-ocean div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}

.cm-s-material-ocean.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}

.cm-s-material-ocean .CodeMirror-line::selection,
.cm-s-material-ocean .CodeMirror-line > span::selection,
.cm-s-material-ocean .CodeMirror-line > span > span::selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-material-ocean .CodeMirror-line::-moz-selection,
.cm-s-material-ocean .CodeMirror-line > span::-moz-selection,
.cm-s-material-ocean .CodeMirror-line > span > span::-moz-selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-material-ocean .CodeMirror-activeline-background {
  background: rgba(0, 0, 0, 0.5);
}

.cm-s-material-ocean .cm-keyword {
  color: #c792ea;
}

.cm-s-material-ocean .cm-operator {
  color: #89ddff;
}

.cm-s-material-ocean .cm-variable-2 {
  color: #eeffff;
}

.cm-s-material-ocean .cm-variable-3,
.cm-s-material-ocean .cm-type {
  color: #f07178;
}

.cm-s-material-ocean .cm-builtin {
  color: #ffcb6b;
}

.cm-s-material-ocean .cm-atom {
  color: #f78c6c;
}

.cm-s-material-ocean .cm-number {
  color: #ff5370;
}

.cm-s-material-ocean .cm-def {
  color: #82aaff;
}

.cm-s-material-ocean .cm-string {
  color: #c3e88d;
}

.cm-s-material-ocean .cm-string-2 {
  color: #f07178;
}

.cm-s-material-ocean .cm-comment {
  color: #464b5d;
}

.cm-s-material-ocean .cm-variable {
  color: #f07178;
}

.cm-s-material-ocean .cm-tag {
  color: #ff5370;
}

.cm-s-material-ocean .cm-meta {
  color: #ffcb6b;
}

.cm-s-material-ocean .cm-attribute {
  color: #c792ea;
}

.cm-s-material-ocean .cm-property {
  color: #c792ea;
}

.cm-s-material-ocean .cm-qualifier {
  color: #decb6b;
}

.cm-s-material-ocean .cm-variable-3,
.cm-s-material-ocean .cm-type {
  color: #decb6b;
}

.cm-s-material-ocean .cm-error {
  color: rgba(255, 255, 255, 1);
  background-color: #ff5370;
}

.cm-s-material-ocean .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.CodeMirror-cursor {
  background-color: #a2a8a175 !important;
}

.CodeMirror-cursors {
  background-color: #a2a8a175 !important;
}

.cm-animate-fat-cursor {
  background-color: #a2a8a175 !important;
}
