.cm-s-mbo.CodeMirror {
	background-color: #2c2c2c;
	color: #ffffe9;
}

.cm-s-mbo.CodeMirror .CodeMirror-gutters {
  border-color: #2c2c2e;
  background: #2c2c2e;
}

.cm-s-mbo .CodeMirror-scroll{
  margin-right: 5px;
  border-color: #404040;
}
.cm-s-mbo .CodeMirror-vscrollbar{
  overflow-y: hidden;
}
.cm-s-mbo ::-webkit-scrollbar {
  width: 10px;
}
.cm-s-mbo ::-webkit-scrollbar-track {
  background: transparent;
}
.cm-s-mbo ::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,.2);
  border-radius: 3px;
}
.cm-s-mbo ::-webkit-scrollbar-thumb:hover{
  background: rgba(255,255,255,.3);
}
.cm-s-mbo ::-webkit-scrollbar-thumb:active{
  background: rgba(255,255,255,.4);
}


.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #ffffff;
  z-index: 3;
}

.CodeMirror-selected {
  background: #058399;
  opacity: .23;
}

.cm-s-mbo.CodeMirror .CodeMirror-activeline,
.cm-s-mbo.CodeMirror.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt{
  background: rgba(255,255,255,.1);
}

.cm-s-mbo .cm-keyword {color: #ffb928;}
.cm-s-mbo .cm-atom {color: #00a8c6;}
.cm-s-mbo .cm-number {color: #00a8c6; font-weight: bold;}
.cm-s-mbo .cm-def {color: #ffffec;}
.cm-s-mbo .cm-variable {color: #ffffec;}
.cm-s-mbo .cm-variable-2 {color: #00A8C6;}
.cm-s-mbo .cm-property {color: #52e3f6;}
.cm-s-mbo .cm-operator {color: #ff007f; font-weight: bold;}
.cm-s-mbo .cm-comment {color: #95958a;}
.cm-s-mbo .cm-string {color: #ffcf6c;}
.cm-s-mbo .cm-string-2 {color: #ffce6c;}
.cm-s-mbo .cm-meta {color: #ffffff;}
.cm-s-mbo .cm-qualifier {color: #ff007f; font-weight: bold;}
.cm-s-mbo .cm-bracket {color: #fffffc; font-weight: bold;}
.cm-s-mbo .cm-tag {color: #9DDFE9;}
.cm-s-mbo .cm-attribute {color: #ffb928;}

.cm-s-mbo .cm-matchhighlight {background-color: rgba(61,61,61.23);}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #f5e107;
  font-weight: bold;
  text-decoration: underline;
}

div.CodeMirror span.CodeMirror-searching {
  background-color: none;
  background: none;
  box-shadow: 0 0 0 1px #ffffec;
}

