.CodeMirror-minimap{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  border-left: solid thin gray;
}

.CodeMirror-minimap-line{
  position: relative !important;
  width: 100% !important;
  display: flex !important;
  overflow: hidden !important;
  height: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  font-size:2px !important;
}
.CodeMirror-minimap-line > div, .CodeMirror-minimap-line > span > span, {
  height: 100%;
  position: relative;
  display: inline-block;
}

.mini-block{
  width: 2px;
  background-color: white;
}

.mini-space{
  width: 1px;
  background-color: transparent;
}

.mini-tab{
  width: 3px;
  background-color: transparent;
}