.cm-s-default span.cm-header {color: #2f2f4f; font-weight:bold;}
.cm-s-default span.cm-code {color: #666;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-list {color: #a50;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-linktext {color: #00c; text-decoration: underline;}
.cm-s-default span.cm-linkhref {color: #00c;}
.cm-s-default span.cm-em {font-style: italic;}
.cm-s-default span.cm-strong {font-weight: bold;}
.cm-s-default span.cm-emstrong {font-style: italic; font-weight: bold;}
