.cm-s-default span.cm-bnode        {color: #a0b;}
.cm-s-default span.cm-uri          {color: #a22;}
.cm-s-default span.cm-uri-anchor   {color: #ecd;}
.cm-s-default span.cm-literal      {color: #2b2;}
.cm-s-default span.cm-literal-lang {color: #d3a;}
.cm-s-default span.cm-literal-type {color: #d3f;}
